.signup {
    width: 100%;
    height: auto;
    padding-top: 40px;
    border-top: 2px solid #aaa;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.container {
    width: 450px;
}

.container .title {
    padding: 20px 0px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
}

.signup_form {
    padding: 20px 40px;
}

.signup_form label {
    font-size: 18px;
    color: #130f40;
}


.signup_form input {
    font-size: 18px;
    height: 40px;
    width: 350px;
    padding: 0 5px;
    outline-color: #1778F2;
    border: 1px solid silver;
}

input::placeholder {
    opacity: 0.5;
}

.signup_form input[type='text'] {
    margin-bottom: 10px;
}

.signup_form input[type='submit'] {
    margin: 45px 0 30px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #1778F2;
    outline-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.signup_form input[type='submit']:hover {
    background-color: #1a237e;
}

.signup_form #name_error,
.signup_form #email_error,
.signup_form #pass_error {
    margin-top: 5px;
    width: 348px;
    font-size: 18px;
    color: #c62828;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #ef9a9a;
    border-radius: 3px;
    display: none;
}

.signup_form #success {
    margin-top: 5px;
    width: 348px;
    font-size: 18px;
    color: green;
    background-color: rgba(0, 255, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #2f912f;
    border-radius: 3px;
    display: none;
}

.container .log_in {
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (max-width:375px) {
    .signup_form input {
        width: 300px;
    }

    .signup_form #name_error,
    .signup_form #email_error,
    .signup_form #pass_error {
        width: 298px;
    }

}

@media screen and (max-width:639px) {
    .signup_form input[type='submit'] {
        margin: 45px 0 0;
    }

    .container .title {
        padding: 5px 0;
    }
}

@media screen and (min-width:640px) and (max-width:847px) {
    .signup_form {
        padding: 20px 40px 0;
    }
}