.room-type label {
    margin-right: 10px;
    font-weight: 700;
}

.search-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-container .input {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.input label {
    font-weight: 700;
}

.input input {
    width: 90%;
    height: 45px;
    font-size: 16px;
    padding: 10px;
    outline-color: #1778F2;
}

.search-btn button {
    font-size: 16px;
    padding: 8px 100px;
    border-radius: 10px;
    position: absolute;
    bottom: -35px;
    left: 40%;
    cursor: pointer;

}

@media screen and (max-width:639px) {
    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-container .input {
        margin: 5px;
    }

    .input label {
        font-size: 15px;
    }

    .input input {
        width: 100%;
        height: 40px;
        padding: 5px;
        font-size: 14px;
    }

    .search-btn button {
        font-size: 14px;
        padding: 8px 80px;
        left: 30%;
    }
}

@media screen and (min-width:640px) and (max-width:939px) {
    .input input {
        width: 95%;
        height: 40px;
    }

    .search-btn button {
        padding: 8px 90px;
        left: 35%;
    }
}

@media screen and (max-width:469px) {
    .input input {
        height: 35px;
    }

    .search-btn button {
        padding: 8px 70px;
        left: 21%;
    }
}